@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUuhs.ttf) format('truetype');
}

@charset "UTF-8";

/* peterburgmetall */
@font-face {
  font-family: "peterburgmetall";
  src:url("https://file.myfontastic.com/VZ3iXSa7je4LSo6a5jDPrC/fonts/1519402157.eot");
  src:url("https://file.myfontastic.com/VZ3iXSa7je4LSo6a5jDPrC/fonts/1519402157.eot?#iefix") format("embedded-opentype"),
    url("https://file.myfontastic.com/VZ3iXSa7je4LSo6a5jDPrC/fonts/1519402157.woff") format("woff"),
    url("https://file.myfontastic.com/VZ3iXSa7je4LSo6a5jDPrC/fonts/1519402157.ttf") format("truetype"),
    url("https://file.myfontastic.com/VZ3iXSa7je4LSo6a5jDPrC/fonts/1519402157.svg#1519402157") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "peterburgmetall" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "peterburgmetall" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pin:before {
  content: "\e000";
}
.icon-envelope:before {
  content: "\e001";
}
.icon-phone:before {
  content: "\e002";
}
.icon-round-phone:before {
  content: "\e003";
}
.icon-sd-smyley:before {
  content: "\e004";
}

